{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<style>
    .sospeso {
        color: red;
    }
</style>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h2>Altri corsi</h2>
    <p class="lead">Da qui puoi iscriverti agli altri corsi.</p>
</div>

{% for c in corsi %}
<div class="btn-grp mx-auto jumbotron mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <h2><b>{{c['Titolo']}}</b></h2>
            <p>
                Istruttore: {{c['Nome']}} {{c['Cognome']}}<br/>
                Locale: {{c['Idlocale']}}<br />
                Periodo del corso: dal {{c['Datainizio']}} al {{c['Datafine']}}<br/>
                Giorno della settimana: {{c['Giorno']}}<br/>
                Orario: {{c['Orarioinizio']}}<br/><br/>
                {{c['Descrizione']}}
            </p>
        </div>
        {% if c['Sospeso'] == 'SOSPESO' %}
        <div class="col-md-6 sospeso">
            <p>
                Questo corso e' stato sospeso per ragioni Covid-19.
            </p>
        </div>
        {% endif %}
        <form class="form form-horizontal" action="" method="post">
            {% for field, errors in form.errors.items() %}
            {{ ', '.join(errors) }}
            {% endfor %}
            <input type="hidden" name="idcorso" value="{{c['Idcorso']}}"/>
            {{wtf.quick_form(form, form_type="horizontal", button_map={'subscriptionSubmit': 'success'})}}
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}