{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Altri corsi</h2>
    <p class="lead">Per entrare nell'area di backoffice devi registrarti.</p>
</div>

{% for c in corsi %}
<div class="btn-grp mx-auto jumbotron mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <h1>{{c['Titolo']}}</h1>
        </div>
        <div class="col-md-6 ml-auto form-inline">
            <form class="form-inline" action="{{url_for('dettagli_corso')}}" method="post">
                <input type="hidden" name="corso" value="{{c['idcorso']}}" />
                <input type="hidden" name="is_iscritto" value="False" />
                <input class="btn btn-outline-primary btn-lg" type="submit" name="Dettagli" value="Dettagli" />
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}