{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Area riservata</h2>
    <p class="lead">Per entrare nell'area di backoffice devi registrarti.</p>
    <p><a href="{{ url_for('modifica_profilo') }}" class="btn btn-primary btn-large">Modifica profilo utente &raquo;</a></p>
    <p><a href="{{ url_for('registra_istruttore') }}" class="btn btn-warning btn-large">Registra un nuovo istruttore &raquo;</a></p>
    <p><a href="{{ url_for('registra_gestore') }}" class="btn btn-warning btn-large">Registra un nuovo gestore &raquo;</a></p>
    <p><a href="{{ url_for('crea_locale') }}" class="btn btn-warning btn-large">Crea un nuovo locale &raquo;</a></p>

</div>

<div class="btn-grp mx-auto jumbotron mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <h1>{{palestra['Titolo']}}</h1>
            <p>Numero persone iscritte: {{palestra['Personeiscritte']}}</p>
        </div>
    </div>
</div>

{% endblock %}