{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<style>
    .sospeso {
        color: red;
    }
</style>
{% endblock %}

{% block content %}

<div class="jumbotron area-riservata">
    <h2>Area riservata</h2>
    <p class="lead">Per entrare nell'area di backoffice devi registrarti.</p>
    <p><a href="{{ url_for('modifica_profilo') }}" class="btn btn-primary btn-large">Modifica profilo utente &raquo;</a></p>
    <p><a href="{{ url_for('crea_corso') }}" class="btn btn-warning btn-large">Aggiungi corsi &raquo;</a></p>
</div>

<form class="form form-horizontal" action="" method="post">
    {% for field, errors in form1.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}

    {{wtf.quick_form(form1, form_type="horizontal", button_map={'covidSubmit': 'warning'})}}
</form>

{% for c in corsi %}
<div class="btn-grp mx-auto jumbotron mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <h2><b>{{c['Titolo']}}</b></h2>
            <p>
                Numero persone iscritte: {{c['Personeiscritte']}}<br />
                Locale: {{c['Idlocale']}}<br />
                Periodo del corso: dal {{c['Datainizio']}} al {{c['Datafine']}}<br />
                Giorno della settimana: {{c['Giorno']}}<br />
                Orario: {{c['Orarioinizio']}}<br /><br />
                {{c['Descrizione']}}
            </p>
        </div>
        {% if c['Sospeso'] == 'SOSPESO' %}
        <div class="col-md-6 sospeso">
            <p>
                Questo corso e' stato sospeso per ragioni Covid-19.
            </p>
        </div>
        {% endif %}
        <form class="form form-horizontal" action="" method="post">
            {% for field, errors in form2.errors.items() %}
            {{ ', '.join(errors) }}
            {% endfor %}
            <input type="hidden" name="idcorso" value="{{c['Idcorso']}}" />
            {{wtf.quick_form(form2, form_type="horizontal", button_map={'deleteCourseSubmit': 'danger'})}}
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}

<script>
    $(function () {
        $('#covid').bootstrapToggle({
            on: 'Positivo',
            off: 'Negativo',
            onstyle: 'danger',
            offstyle: 'success'
        });
    });
</script>

{% endblock %}