{% extends "layout.html" %}

{% block head %}
<style>
    .sospeso {
        color: red;
    }
</style>
{% endblock %}

{% block content %}

<div class="jumbotron corsi">
    <h2>Corsi</h2>
    <p class="lead">Segui i nostri corsi.</p>
</div>

{% for c in corsi %}
<div class="btn-grp mx-auto jumbotron mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <h2><b>{{c['Titolo']}}</b></h2>
            <p>
                Istruttore: {{c['Nome']}} {{c['Cognome']}}<br />
                Locale: {{c['Idlocale']}}<br />
                Periodo del corso: dal {{c['Datainizio']}} al {{c['Datafine']}}<br />
                Giorno della settimana: {{c['Giorno']}}<br />
                Orario: {{c['Orarioinizio']}}<br /><br />
                {{c['Descrizione']}}
            </p>
        </div>
        {% if c['Sospeso'] == 'SOSPESO' %}
        <div class="col-md-6 sospeso">
            <p>
                Questo corso e' stato sospeso per ragioni Covid-19.
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
