{% extends "layout.html" %}

{% block content %}

<div class="jumbotron home">
    <h1>MCpalestreMC</h1>
    <p class="lead">Dpcm dopo dpcm siamo ancora aperti!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Palestre</h2>
        <p>
            Le nostre palestre, pensate per voi.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('palestre') }}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Corsi</h2>
        <p>Vedi i nostri corsi.</p>
        <p><a class="btn btn-default" href="{{ url_for('corsi') }}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Abbonamenti</h2>
        <p>I nostri abbonamenti, economici e pensati per tutti.</p>
        <p><a class="btn btn-default" href="{{ url_for('abbonamenti') }}">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
