{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="jumbotron area-riservata">
    <h2>Le tue prenotazioni</h2>
    <p class="lead">Da qui puoi vedere le tue prenotazioni.</p>
</div>

{% for p in prenotazioni %}
<div class="btn-grp mx-auto jumbotron mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <h2><b>{{p['Titolo']}}</b></h2>
            <p>
                Data prenotazione: {{p['Data']}}<br />
                Orario: {{p['Orarioinizio']}}<br />
            </p>
        </div>
        <form class="form form-horizontal" action="" method="post">
            {% for field, errors in form.errors.items() %}
            {{ ', '.join(errors) }}
            {% endfor %}
            <input type="hidden" name="idprenotazione" value="{{p['Idprenotazione']}}" />
            {{wtf.quick_form(form, form_type="horizontal", button_map={'deleteBookingSubmit': 'danger'})}}
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}